* {
	font-family: Tahoma, sans-serif;
	font-size: 15px;
}
        
#external {
   color: yellow !important;
} 

h1 {
	font-size: 50px;
}

#learn {
	text-transform: uppercase;	
}

.language {
	background-color: #428746;
}

li[class="tools"] {
	border: 2px solid lightblue;
	width: 100%;
}

img + ul {
	list-style-type: none;
}

#other-things img {
	border-radius: 100%;
	width: 100px;
}

ul ~ p {
	text-align: center;
}

section > ul > li {
	letter-spacing: 10px;
}